[submodule "ethereum-genesis-generator"]
	path = ethereum-genesis-generator
	url = https://github.com/ethpandaops/ethereum-genesis-generator.git
[submodule "blockscout"]
	path = blockscout
	url = https://github.com/blockscout/blockscout.git
[submodule "lighthouse"]
	path = lighthouse
	url = https://github.com/sigp/lighthouse.git
	branch = c547a11b0da48db6fdd03bca2c6ce2448bbcc3a9
[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/ethereum/go-ethereum.git
	branch = e501b3b05db8e169f67dc78b7b59bc352b3c638dgit 